.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  background-color: #ffffffad;
  box-shadow: 0px 0px 70px #0000009c;
}

.fighter-preview___right {
  align-items: flex-end;
  height: 100%;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
  height: 100%;
}

.fighter-preview___text-block-left,
.fighter-preview___text-block-right {
  width: max-content;
  height:min-content;
  display: flex;
  flex-direction: column;;
  cursor: pointer;
  background: #ffdfa7;
  border: 5px solid #ca9650;

}

.fighter-preview___text-block-left {
  align-items: flex-start;
}

.fighter-preview___text-block-right {
  align-items: flex-end;
}

.fighter-preview___text-left,
.fighter-preview___text-right {
  margin: 5px;
  width: max-content;
  display: flex;
}

.fighter-preview___text-left::before {
  content: ' | ';
}

.fighter-preview___text-right::after {
  content: ' | ';
}
